/* Style Background Color */
body {
    background-color: #303841;
}

/* Style Heading Color */
.contact {
    text-align: center;
    color: #be3144;
}

/* Style Contact Form Colors */
.btn-primary {
    background-color: #be3144;
}

.form-group, .card-text, .card-link {
    color:  #3a4750;
    font-family: 'Baloo Paaji 2', cursive;
}

.navbar-brand, .nav-link, .contact {
    font-family: 'Lexend Zetta', sans-serif;
}

.card {
   background-color: #d3d6db;
}