body {
    background-color: rosybrown;
}

.contact {
    text-align: left;
    color: rgb(172, 59, 78);
}

.btn-primary {
    background-color: rgb(172, 59, 78);
}

.form-group {
    color:  rgb(172, 59, 78);
}