/* Style Heading Color */
.about {
    color: #be3144;
    text-align: center;
}

/* Style Background Color */
body {
    background-color: #303841;
}

p {
    font-size: large;
    font-family: 'Baloo Paaji 2', cursive;
}

.navbar-brand, .nav-link, .about {
    font-family: 'Lexend Zetta', sans-serif;
}