/* Style Heading Color */
.about {
    color: #be3144;
    text-align: center;
}

/* Style Background Color */
body {
    background-color: #303841;
}

p, ul {
    font-size: large;
    font-family: 'Baloo Paaji 2', cursive;
}

.navbar-brand, .nav-link, .about, h5 {
    font-family: 'Lexend Zetta', sans-serif;
}

.card {
   background-color: #d3d6db;
}

h5 {
    color: #be3144;
}