/* Style Heading Color */
.about {
    color: rgb(172, 59, 78);
    text-align: center;
}

/* Style Background Color */
body {
    background-color: rosybrown;
}

p {
    font-size: large;
    font-family: 'Baloo Paaji 2', cursive;
}

.navbar-brand, .nav-link, .about {
    font-family: 'Lexend Zetta', sans-serif;
}