/* Style Background Color */
body {
    background-color: #303841;
}

/* Style Heading Color */
.portfolio {
    color: #be3144;
    text-align: center;
}

.navbar-brand, .nav-link, .portfolio {
    font-family: 'Lexend Zetta', sans-serif;
}

h3, p, .card-body {
    font-family: 'Baloo Paaji 2', cursive;
    color: #3a4750;
    text-align: center;
}

.card {
    background-color: #d3d6db;
}

.app-link {
    color: #be3144
}