/* Style Background Color */
body {
    background-color: rosybrown;
}

/* Style Heading Color */
.portfolio {
    color: rgb(172, 59, 78);
    text-align: center;
}

.navbar-brand, .nav-link, .portfolio {
    font-family: 'Lexend Zetta', sans-serif;
}